<div class="join-container">
    <header class="join-header">
        <h1><i class="fas fa-smile"></i> ChatCord</h1>
    </header>
    <main class="join-main">
        <form>
            <div class="form-control">
                <label for="username">Username</label>
                <input
                        type="text"
                        name="username"
                        id="username"
                        placeholder="Enter username..."
                        required
                />
            </div>
            <div class="form-control">
                <label for="chatroom">Room</label>
                <select name="chatroom" id="chatroom">
                    <option value="JavaScript">JavaScript</option>
                    <option value="Python">Python</option>
                    <option value="PHP">PHP</option>
                    <option value="C#">C#</option>
                    <option value="Ruby">Ruby</option>
                    <option value="Java">Java</option>
                </select>
            </div>
            <button routerLink="/dashboard" type="submit" class="btn">Join Chat</button>
        </form>
    </main>
</div>
<mat-card>
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="submit()">
            <p>
                <mat-form-field>
                    <label>
                        <input type="text"
                               matInput
                               placeholder="Username"
                               formControlName="username">
                    </label>
                </mat-form-field>
            </p>

            <p>
                <mat-form-field>
                    <label>
                        <input type="password"
                               autocomplete="new-password"
                               name="new-password"
                               matInput
                               placeholder="Password"
                               formControlName="password">
                    </label>
                </mat-form-field>
            </p>


            <div class="button">
                <button type="submit" mat-button>Login</button>
            </div>

        </form>
    </mat-card-content>
</mat-card>
