<mat-card>
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="submit()">
            <p>
                <mat-form-field>
                    <label>
                        <input type="text"
                               matInput
                               placeholder="Username"
                               formControlName="username">
                    </label>
                </mat-form-field>
            </p>

            <p>
                <mat-form-field>
                    <mat-select formControlName="chatroom" placeholder="Room">
                        <mat-option [value]="'JavaScript'">JavaScript</mat-option>
                        <mat-option [value]="'Python'">Python</mat-option>
                        <mat-option [value]="'PHP'">PHP</mat-option>
                        <mat-option [value]="'C#'">C#</mat-option>
                        <mat-option [value]="'Ruby'">Ruby</mat-option>
                        <mat-option [value]="'Java'">Java</mat-option>
                    </mat-select>
                </mat-form-field>
            </p>


            <div class="button">
                <button type="submit" mat-button>Login</button>
            </div>

        </form>
    </mat-card-content>
</mat-card>
