@import "../../../../styles/abstracts/variables";


:host {
  display: flex;
  justify-content: center;
  margin: 290px 0;

}


@media (max-width: $screen-md) {
  :host {
    margin: 200px 0;
  }
}


.mat-form-field {
  width: 100%;
  min-width: 300px;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}

.button {
  display: flex;
  justify-content: flex-end;
}
